@font-face {
  font-family: 'Logo';
  src: local('Logo'), url(./assets/fonts/Logo.otf) format('otf');
}

.App {
  background-color: #11161e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Monteserrat', sans-serif;
}
